/* site styling */

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


/* element styling */

.stlt-card-one {
  box-shadow: 0 10px 10px 6px rgba(0, 0, 0, .2);
  width: 25vw;
  height: 300px;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  border: 1px solid white;
}

.stlt-image {
  width: 25vw;
  height: 153px;
  border-radius: 10px 10px 0 0;
}

.stlt-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stlt-title {
  margin-top: 10px;
}

.stlt-content {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.stlt-card-two {
  border: 1px solid white;
  width: 35vw;
  margin: 40px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 30px 10px 20px 0px rgba(0, 0, 0, .2);
}

.stlt-top-card {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  border-bottom: 1px solid white;
  height: 60px;
  background-color: white;
  border-radius: 10px 10px 0 0;
 
}

.stlt-card-two:hover {
  box-shadow: 6px 6px 6px 6px black;
}


.stlt-card-time {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.stlt-top-image {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.stlt-tiny-image {
  width: 75px;
  margin-left: 30px;
}

.stlt-post {
  background-color: rgb(194, 192, 192);
}

.stlt-post-image {
  width: 100%;
}

.stlt-comment-section {
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 35px;
  border-bottom: 1px solid black;
  border-radius: 0 0 10px 10px;
}

.stlt-comments {
  grid-column: 1/2;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stlt-likes {
  grid-column: 3/4;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}