/* site styling */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #3E4561;
  color: #FFF;
}

/* universal element styling; selectors in alphabetical order */

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: inherit;
  color: inherit;
}

code {
  font-family: monospace;
}

h1 {
  font-size: 2rem;
  font-weight: 200;
}

h2 {
  font-size: 1.8rem;
  font-weight: 200;
}

ul {
  list-style: none;
  font-weight: 200;
}