nav {
    background-color: whitesmoke;
    color: #000;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stlt-site-name:hover {
    color: #525252;
    cursor: pointer;
}